
.modal-content h2 {
    color: #333333;
}


.modal-content input {
    color: #333333;
}


.modal-content p {
    color: #555555;
}


.save-button {
    color: #ffffff;
}

.close-button {
    color: #ffffff;
}


.save-button:hover {
    color: #ff6347;
}

.close-button:hover {
    color: #ff6347;
}


.modal-content input::placeholder {
    color: #aaa;
}


.modal-content input:focus {
    color: #333333;
    border-color: #4CAF50;
}
